{% extends 'base.html.twig' %}

{% block title %}Edition Produits{% endblock %}

{% block body %}
    <div class="container">
        <h2>Modification Produits </h2>
        
    </div>
{% endblock %}
