{% extends 'base.html.twig' %}

{% block title %}New Supplier{% endblock %}

{% block body %}
<div class="container">
    <h2 class="my-4"> Création Fournisseur </h2>
    {{ include('pages/supplier/_form.html.twig') }}
   
</div>
{% endblock %}
