{% include "Back_office/base_back.html.twig" %}

{% block title %}Création Fournisseurs{% endblock %}

{% block header %}
    {% include "Back_office/partials/Header/_header.html.twig" %}
{% endblock %}

{% block sidebar %}
    {% include "Back_office/partials/Sidebar/_sidebar.html.twig" %}
{% endblock %}

{% block body %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Produits</h1>
            <nav>
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
                <li class="breadcrumb-item">Supplier</li>
                <li class="breadcrumb-item active">Create</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body mx-4">
                            <h2 class="card-title">Création Fournisseurs</h2>
                            {{ include('Back_office/Supplier/_form.html.twig')}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}
