  <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
  <!-- Header Section Begin -->
    <header class="header bg-primary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{{ asset('Front_office/assets/img/logo.png') }}" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-9">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html">Accueil</a></li>
                                <li><a href="./listing.html">E-boutique</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="./blog.html">Mon Panier</a></li>

                            </ul>
                        </nav>
                        <div class="header__menu__right">
                            <a href="#" class="login-btn"><i class="fa fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->