{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/vapor/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/vapor/_variables.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">    
{% endblock %}


{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">

                            <div class="text-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                    style="width: 185px;" alt="logo">
                                <h4 class="mt-1 mb-5 pb-1 textDark">My beautiful car</h4>
                            </div>

                            <form action="{{ path('app_login') }}" method="post">
                                <p class="textDark">Please login to your account</p>

                                <div class="form-outline mb-4">
                                    <input type="email" id="username" class="form-control" name="_username" value="{{ last_username }}" placeholder="Username" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="password" class="form-control" name="_password" placeholder="Password"/>
                                </div>

                                <div class="text-center pt-1 pb-1 d-grid gap-2">
                                    <button class="btn btn-lg btn-primary btn-block gradient-custom-2 mb-3" type="submit">Login</button>
                                </div>
                                <div class="text-center pt-1 mb-3 pb-1 d-grid gap-2">
                                    <a class="text-muted textGray" href="#!">Forgot password?</a>
                                </div>
                                    
                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2 textDark">Don't have an account?</p>
                                    <button type="button" class="btn btn-outline-danger textGray">Create new</button>
                                </div>

                            </form>

                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                        <h4 class="mb-4 text-center">Spécialisé dans les ventes des automobiles</h4>
                        <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}

