{% extends 'base.html.twig' %}

{% block title %}Création Produits{% endblock %}

{% block body %}
    
    <div class="container">
        <h2 class="my-4"> Création Produits </h2>
        {{ include('pages/product/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
